
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>

    {% load pwa %}
{% progressive_web_app_meta %}

  <link rel="icon" href="{% static 'icons/favicon.ico' %}">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}Roads{% endblock %}</title>
  <link rel="stylesheet" href="">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>
<body>
  {% block content %}

  {% endblock %}

<style>
html {
 overflow-y: visible;
overflow-x: clip;
}
    </style>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker
                    .register('/service-worker.js')
                    .then(registration =>
                            console.log('Service worker registered', registration)
                    )
                    .catch(err => console.log(err))
        })
    }

    const button = document.getElementById('fetch')
    button.addEventListener('click',()=> {
        fetch('api/example').then(res=>res.json()).then(json=>console.log(json))
    })
</script>
</html>


