<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<div class="d-flex align-items-center justify-content-center">
    <img class="m-5" src="{% static 'roads.png' %}" alt="" width="175" height="175">
</div>
<h1 class="m-5 display-1 text-center">Make a <span class="text-primary">Road</span></h1>
<div class="d-flex align-items-center justify-content-center">
    <a href="#form" class="btn fs-3 btn-primary m-5">Get Started <i class="ph ph-arrow-right"></i></a>
</div>
<div class="lofm"></div>
<h1 class="ph ph-pen text-center bafs"></h1>
<p class="text-center m-5 lead">Enter in your verses now, try to keep them short so as not to fill the screen with text. Only 1 verse at a time can be entered. Press The add verse button to add more.</p>
<div class=" " id="form">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="ph ph-feather"></i></span>

    <input class="form-control " placeholder="Name of your road." id="nameInput"></input>
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="ph ph-feather"></i></span>

    <input class="form-control " placeholder="Description of your road." id="descInput"></input>

</div>
    <div id="bookSuggestions" class="suggestions bg-body-secondary rounded ml-5 mb-2" style="width: 7em"></div>
<div class="input-group flex-nowrap mb-5 ml-1 mr-1">

  <span class="input-group-text" id="addon-wrapping"><i class="ph ph-book"></i></span>

    <input class="form-control" placeholder="Book of your verse" id="bookInput"></input>
</div>
</div>
</div>
</div>
<div class="input-group flex-nowrap mt-5 mb-5 ml-1 mr-1">

  <span class="input-group-text" id="addon-wrapping"><i class="ph ph-bookmark"></i></span>
    <input class="form-control" type="number" pattern="\d*" placeholder="Chapter of your verse" id="chapterInput"></input>
    <input class="form-control" type="number" pattern="\d*" placeholder="Number of your verse" id="verseNumberInput"></input>
</div>
</div>

<ul class="text-center"id="verseList"></ul>
<div class="align-items-center justify-content-center d-flex m-5 ">
<button type="button" class="btn btn-primary m-2" id="addVerseBtn">Add Verse</button>


<button type="button" class="btn btn-primary m-2" id="downloadJsonBtn">Download Road File</button>
</div>
<p class=" text-center">Send file to support@roadsbible.com for aproval. You will receive a reply when your road is live</p>

</body>
<style>
    ul {
list-style-type: none
    }
    .grt {
        background: -webkit-linear-gradient(#647dee, #7f53ac);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .lofm {
        margin-top: 50em;
    }
    .bafs {
      font-size: 10em
    }
</style>
<script>

const bookofbiblelist = ["Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy", "Joshua", "Judges", "Ruth", "1 Samuel", "2 Samuel", "1 Kings", "2 Kings", "1 Chronicles", "2 Chronicles", "Ezra", "Nehemiah", "Esther", "Job", "Psalms", "Proverbs", "Ecclesiastes", "Song of Solomon", "Isaiah", "Jeremiah", "Lamentations", "Ezekiel", "Daniel", "Hosea", "Joel", "Amos", "Obadiah", "Jonah", "Micah", "Nahum", "Habakkuk", "Zephaniah", "Haggai", "Zechariah", "Malachi", "Matthew", "Mark", "Luke", "John", "Acts", "Romans", "1 Corinthians", "2 Corinthians", "Galatians", "Ephesians", "Philippians", "Colossians", "1 Thessalonians", "2 Thessalonians", "1 Timothy", "2 Timothy", "Titus", "Philemon", "Hebrews", "James", "1 Peter", "2 Peter", "1 John", "2 John", "3 John", "Jude", "Revelation"]

const bookInput = document.getElementById('bookInput');
const bookSuggestions = document.getElementById('bookSuggestions');
const bookNumberMapping = {};

for (let i = 0; i < bookofbiblelist.length; i++) {
  const bookName = bookofbiblelist[i].toLowerCase();
  bookNumberMapping[bookName] = i + 1;
}

bookInput.addEventListener('input', function() {
  const input = this.value.toLowerCase();
  const suggestions = bookofbiblelist.filter(book => book.toLowerCase().startsWith(input));

  if (input.length === 0) {
    bookSuggestions.innerHTML = '';
  } else {
    bookSuggestions.innerHTML = suggestions.map(suggestion => `<div class="suggestion">${suggestion}</div>`).join('');
  }
});

bookSuggestions.addEventListener('click', function(event) {
  if (event.target.classList.contains('suggestion')) {
    bookInput.value = event.target.textContent;
    bookSuggestions.innerHTML = '';
  }
});

const verseData = [];
let firstVerseAdded = false; // Flag to track if the first verse has been added
let finalInput = ''; // Define finalInput outside the click event listener

document.getElementById('addVerseBtn').addEventListener('click', () => {
  const bookInputValue = document.getElementById('bookInput').value.toLowerCase();
  const chapterInput = parseInt(document.getElementById('chapterInput').value);
  const verseNumberInput = parseInt(document.getElementById('verseNumberInput').value);
  const nameInputValue = document.getElementById('nameInput').value;
  const desc = document.getElementById('descInput').value

  // Assign the value to finalInput
  finalInput = nameInputValue.replace(/\s/g, "");

  const bookId = bookNumberMapping[bookInputValue];

  if (!firstVerseAdded) {
    firstVerseAdded = true; // Mark the first verse as added

    verseData.push({
      book_id: bookId,
      chapter: chapterInput,
      verse_number: verseNumberInput,
      title: nameInputValue,
      url: `/roads/${finalInput}`,
      img: `${finalInput}.png`,
      description: `${desc}`
    });
  } else {
    verseData.push({
      book_id: bookId,
      chapter: chapterInput,
      verse_number: verseNumberInput,
    });
  }

  const verseList = document.getElementById('verseList');
  const verseListItem = document.createElement('li');
  verseListItem.textContent = `${bookInputValue} ${chapterInput}:${verseNumberInput}`;
  verseList.appendChild(verseListItem);

  // Clear input fields
  document.getElementById('bookInput').value = '';
  document.getElementById('chapterInput').value = '';
  document.getElementById('verseNumberInput').value = '';
});

document.getElementById('downloadJsonBtn').addEventListener('click', () => {
  if (verseData.length === 0) {
    alert("No data to download.");
    return;
  }

  const jsonData = JSON.stringify(verseData, null, 2);
  const blob = new Blob([jsonData], { type: 'application/json' });
  const url = URL.createObjectURL(blob);

  const jsonFileName = `${finalInput}.json`; // Use finalInput for the JSON file name

  const a = document.createElement('a');
  a.href = url;
  a.download = jsonFileName;
  a.click();

  URL.revokeObjectURL(url);
});

</script>
{% endblock %}