{% extends 'base.html' %}

{% block content %}
<body>
    <h1 class="display-2 text-center m-5">Developement Road Map.</h1>
   <h1 class="text-center"> <span class="badge bg-success rounded-circle p-4 m-5">Now</span></h1>

   <h1 class="text-center"> <span class="badge bg-success rounded-circle p-4 m-5">Now</span></h1>

   <h1 class="text-center"> <span class="badge bg-warning rounded-circle m-5 p-4">Upcoming</span></h1>
   
   <h1 class="text-center"> <span class="badge bg-warning rounded-circle m-5 p-4">Upcoming</span></h1>

   <h1 class="text-center"> <span class="badge bg-warning rounded-circle m-5 p-4">Upcoming</span></h1>

   <h1 class="text-center"> <span class="badge bg-secondary rounded-circle m-5 p-4">Not started</span></h1>

   <h1 class="text-center"> <span class="badge bg-secondary rounded-circle m-5 p-4">Not started</span></h1>
   <p></p>


    </div>
</div>

</body>
<style>
progresss {
    margin-left: 14vw;
    margin-right: 14vw;
}
</style>
{% endblock %}